* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fff;
  font-size: 3.75vw;
  line-height: 4.25vw;
  font-weight: 400;
  letter-spacing: -0.1vw;
  font-family: Graphik, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, Helvetica, Arial, sans-serif;
  background: #fff;
  color: #000;
  width: 100%;
}

.text {
  padding: 2.2vw 10vw 2.2vw 3vw;
}

.text h1 {
  font-size: 3.5vw;
  margin-bottom: 2.5vw;
  font-weight: 600;
  line-height: inherit;
  letter-spacing: inherit;
}

.text p {
  margin-bottom: 3.25vw;
}

.text a {
  color:#858585;
  text-decoration: none;
  cursor: pointer;
  background: linear-gradient(to right, hsla(54, 100%, 62%, 0.9), hsla(54, 100%, 62%, 0.9));
	background-size: 100% 30%;
	background-repeat: no-repeat;
	background-position: 0% 100%;
	transition-property: background-position;
	transition-duration: 100ms;
}

.text a:hover {
  background: none;
  font-weight: 500;
}

.text a:focus {
  text-decoration: none;
  outline: solid 4px rgba(0,0,0,.4);
}

.text a[target=_blank]:after {
  content: "\2197";
  margin-left: 4px;
}

@media(max-width: 500px) {
  .text {
    padding: 2.2vw 8vw 2.2vw 4.5vw;
  }
  .text h1 {
    font-size: 7vw;
    margin-top: 3vw;
    margin-bottom: 5.5vw;
  }
  .text p {
    font-size: 7.5vw;
    line-height: 8.5vw;
    margin-bottom: 4.5vw;
  }
}